.module {
	position: relative;
	min-width: 300px;
	min-height: 100vh;
}

@media screen and (max-width: 899.9px) {
	.layout {
		margin-bottom: 64px;
	}
}

@media screen and (min-width: 900px) {
	.layout {
		display: flex;
		align-items: stretch;
		min-height: 100vh;
	}
}
